body{
    padding: 80px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h5{
    font-size: 1.5em;
    margin-left: 10px;
}

.contenedor_padre{
    width: 100%;
    background-color: white;
    border: solid 1px;
    border-color: #a2a2a2;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    body{
        padding: 0;
    }
}